version: "3.9"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: vinibank_user
      POSTGRES_PASSWORD: supersecret
      POSTGRES_DB: vinibank_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vinibank_user"]
      interval: 5s
      timeout: 3s
      retries: 30
volumes:
  db_data:
